<hr class="colorgraph"><br>
<div class="form-group">
    <div class="col-sm-12">
        <input [(ngModel)]="photo.name" type="text" class="form-control" name="ime" placeholder="Ime slike" required=""
            autofocus="" />
        <br />
        <label for="file">Izberi sliko:&emsp;</label>
        <input type="file" id="file" (change)="handleFileInput($event.target.files)">
        <br /><br />
        <button class="btn btn-lg btn-primary btn-block" name="Save" value="Shrani" (click)="addPhoto()">Naloži</button>
        <br /><br />
    </div>
</div>